body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  margin: 0 25px 0 0;
}
h1 > a {
  color: inherit;
  text-decoration: none;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  background-color: #f5f3f3;
  margin: 10px;
  cursor: pointer;
}
h2 {
  font-size: 20px;
}

header,
nav,
nav > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #222222;
}

header {
  padding: 0 20px;
  height: 80px;
  border-bottom: 1px solid #adabab;
}

nav {
  justify-content: space-between;
  width: 900px;
  height: 100%;
}

li {
  list-style: none;
  margin-right: 15px;
  font-weight: bold;
}

.content {
  margin: 20px;
  /* /* min-height: 80vh; */
  /* max-width: 900px; */
}

footer {
  text-align: center;
  font-size: 0.7rem;
  padding: 2rem;
  color: #607d8b;
}

.offer {
  display: flex;
  padding: 10px;
  margin: 5px;
  border: 1px solid #d8d8d8;
  background: white;
  height: 200px;
  overflow: hidden;
}
.offer:last-child {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 30px;
}
img {
  box-sizing: cover;
  border-radius: 6px;
}

.offers-filter-container {
  padding: 30px;
  margin-bottom: 20px;
}

.price--km {
  position: absolute;
  bottom: -40px;
  right: 20px;
  background-color: #ffffff;
  padding: 30px 10px;
  border: 1px solid grey;
  border-radius: 12px;
  font-size: 25px;
  font-weight: bold;
  color: #390445;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

/*********** FILTER************ */
.offers-filter-background {
  background-color: #f4f1f1;
}
.offers-filter-container {
  padding: 30px;
}

.input-search {
  border-radius: 5px;
  width: 160px;
  text-decoration: none;
  height: 20px;
}

.button-search {
  width: 30%;
  border-radius: 5px;
  height: 30px;
  font-weight: bold;
  background-color: #b018a7;
  color: #ffffff;
  cursor: pointer;
}
label {
  font-size: 15px;
  line-height: 38px;
  color: grey;
  margin-right: 5px;
}
.duration {
  margin: 0 20px 0 10px;
}

.distance {
  margin: 0 20px 0 10px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color--purple {
  font-size: 15px;
  font-weight: bold;
  color: #390445;
  margin-bottom: 4px;
}
